<!-- Auction Page -->

<% include partials/header %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h2>Manager Dashboard</h2>

            <h3>Employee Listing</h3>

            <table id="employee-list" class="table table-hover" method = "post">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Start Date</th>
                    <th>Hourly Rate</th>
                    <th>Level</th>
                </tr>

            </table>

        </div>

    </div>

</div>
<!-- /.container -->

<script type="text/javascript">
    loadEmployeeTables();
</script>

<% include partials/footer %>
