<% include partials/header %>



<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-5">

            <% if (locals.message && message != '') { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <% if (locals.register && register) { %>
            <div class="alert alert-success">Successfully registered. Welcome to Big Data! Please login below.</div>
            <% } %>

            <p>If the account has no password, the default password is 'hello' (w/o quotes).</p>

            <form action="/login" method="post">
                <div class="form-group">
                    <label class="control-label">Email:</label>
                    <input class="form-control" type="text" name="username"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="All passwords hello right now."/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log In" class="btn btn-primary" />
                </div>
            </form>

            <a href="/register/"><button class="btn btn-default">Not registered yet? Create a free account.</button></a>

        </div>
    </div>
</div>



<% include partials/footer %>