<div>

    <form action = "/customer/newC/adding/<%= SSN %>" method = "post">
        Credit Card Number: <br>
        <input type="text" name="creditcardnum">
        <br>
        Rating: <br>
        <input type="text" name="Rating">

        <br>
        <input type="submit">

    </form>


</div>