<div>

    <form action = "customer_info">
        Credit Card Number: <br>
        <input type="text" number="creditcardnum">
        <br>
        Rating: <br>
        <input type="text" number="Rating">

    </form>


</div>