<!-- Auction Page -->

<% include partials/header %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h2>Search Results</h2>

            <h3>Search by Item Name</h3>
            <p>Items available with a particular keyword or set of keywords in the item name, and corresponding auction info. ** still need to support multiple keywords</p>
            <table id="search-name" class="table table-hover">
                <tr>
                    <th>ItemID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Copies</th>
                    <th>AuctionID</th>
                    <th>Increment</th>
                    <th>MinimumBid</th>
                    <th>Employee</th>
                </tr>
            </table>
            <div class="loader">
                <p>Loading items...</p>
            </div>

            <h3>Search By Item Type</h3>
            <p>Items available of a particular type and corresponding auction info</p>
            <table id="search-type" class="table table-hover">
                <tr>
                    <th>ItemID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Copies</th>
                    <th>AuctionID</th>
                    <th>Increment</th>
                    <th>MinimumBid</th>
                    <th>Employee</th>
                </tr>
            </table>
            <div class="loader">
                <p>Loading items...</p>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

<script type='text/javascript'>
    loadSearchTables("<%= search %>");
</script>

<% include partials/footer %>
