body {
    font: 14px "Titillium Web", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #00B7FF;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.navbar-inverse {
    background-color: #3f51b5;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.4);
}

.auction-end {
    font-weight: 700;
}

ul#user-info {
    list-style: none;
}

.tablehover tr:not(:first-child):hover {
    background-color:#ffff99;
}

.tablehover tr{
    background: #b8d1f3;
}
